@charset "utf-8";
/* CSS Document */
.replace-2x {
    font-size: 1px;
}
@media all and (-webkit-min-device-pixel-ratio:2) {

    .deploy-left-sidebar{	background-image:url(../images/nav.png);	 			-webkit-background-size: 18px 12px;}
    .deploy-right-sidebar{	background-image:url(../images/contact.png);	 	-webkit-background-size: 18px 12px;}

    .nav-home{		background-image:url(../images/home.png);	 	-webkit-background-size: 51px 51px;}
    .nav-about{		background-image:url(../images/about.png);	 -webkit-background-size: 51px 51px;}
    .nav-features{	background-image:url(../images/features.png); -webkit-background-size: 51px 51px;}

    .nav-portfolio{	background-image:url(../images/folio.png);	-webkit-background-size: 51px 51px;}
    .nav-videos{	background-image:url(../images/video.png);	-webkit-background-size: 51px 51px;}
    .nav-blog{		background-image:url(../images/blog.png);		-webkit-background-size: 51px 51px;}

    .nav-mobile{	background-image:url(../images/phone.png);	-webkit-background-size: 51px 51px;}
    .nav-sms{		background-image:url(../images/chat.png);		-webkit-background-size: 51px 51px;}
    .nav-mail{		background-image:url(../images/mail.png);		-webkit-background-size: 51px 51px;}

    .icon-heading{	background-image:url(../images/heading.png);	-webkit-background-size: 20px 20px;}
    .deploy-share{	background-image:url(../images/go-home.png); -webkit-background-size:16px 16px;}
    .deploy-menu{	background-image:url(../images/nav-deploy.png); -webkit-background-size:16px 16px;}


    .swipe-null-box{	background-image:url(../images/empty.png); -webkit-background-size:16px 16px;}
    .swipe-check-box{	background-image:url(../images/cross.png); -webkit-background-size:16px 16px;}
    .swipe-tick-box{	background-image:url(../images/tick.png);	 -webkit-background-size:16px 16px;}

    .list-address{			background-image:url(../images/address_32.png);		-webkit-background-size:16px 16px; }
    .list-block{			background-image:url(../images/block_32.png);			-webkit-background-size:16px 16px; }
    .list-bookmark{			background-image:url(../images/bookmark_32.png);		-webkit-background-size:16px 16px; }
    .list-briefcase{		background-image:url(../images/briefcase_32.png);		-webkit-background-size:16px 16px; }
    .list-bubble{			background-image:url(../images/bubble_32.png);		-webkit-background-size:16px 16px; }
    .list-buy{				background-image:url(../images/buy_32.png);			-webkit-background-size:16px 16px; }
    .list-calendar{			background-image:url(../images/calendar_32.png);		-webkit-background-size:16px 16px; }
    .list-clipboard{		background-image:url(../images/clipboard_32.png);		-webkit-background-size:16px 16px; }
    .list-delete{			background-image:url(../images/delete_32.png);		-webkit-background-size:16px 16px; }
    .list-clock{			background-image:url(../images/clock_32.png);			-webkit-background-size:16px 16px; }
    .list-diagram{			background-image:url(../images/diagram_32.png);		-webkit-background-size:16px 16px; }
    .list-document{			background-image:url(../images/document_32.png);		-webkit-background-size:16px 16px; }
    .list-down{				background-image:url(../images/down_32.png);			-webkit-background-size:16px 16px; }
    .list-flag{				background-image:url(../images/flag_32.png);			-webkit-background-size:16px 16px; }
    .list-folder{			background-image:url(../images/folder_32.png);		-webkit-background-size:16px 16px; }
    .list-gear{				background-image:url(../images/gear_32.png);			-webkit-background-size:16px 16px; }
    .list-globe{			background-image:url(../images/globe_32.png);			-webkit-background-size:16px 16px; }
    .list-heart{			background-image:url(../images/heart_32.png);			-webkit-background-size:16px 16px; }
    .list-help{				background-image:url(../images/help_32.png);			-webkit-background-size:16px 16px; }
    .list-home{				background-image:url(../images/home_32.png);			-webkit-background-size:16px 16px; }
    .list-key{				background-image:url(../images/key_32.png);			-webkit-background-size:16px 16px; }
    .list-label{			background-image:url(../images/label_32.png);			-webkit-background-size:16px 16px; }
    .list-left{				background-image:url(../images/left_32.png);			-webkit-background-size:16px 16px; }
    .list-letter{			background-image:url(../images/letter_32.png);		-webkit-background-size:16px 16px; }
    .list-monitor{			background-image:url(../images/monitor_32.png);		-webkit-background-size:16px 16px; }
    .list-pencil{			background-image:url(../images/pencil_32.png);		-webkit-background-size:16px 16px; }
    .list-plus{				background-image:url(../images/plus_32.png);			-webkit-background-size:16px 16px; }
    .list-present{			background-image:url(../images/present_32.png);		-webkit-background-size:16px 16px; }
    .list-print{			background-image:url(../images/print_32.png);			-webkit-background-size:16px 16px; }
    .list-right{			background-image:url(../images/right_32.png);			-webkit-background-size:16px 16px; }
    .list-save{				background-image:url(../images/save_32.png);			-webkit-background-size:16px 16px; }
    .list-shield{			background-image:url(../images/shield_32.png);		-webkit-background-size:16px 16px; }
    .list-statistics{		background-image:url(../images/statistics_32.png);	-webkit-background-size:16px 16px; }
    .list-stop{				background-image:url(../images/stop_32.png);			-webkit-background-size:16px 16px; }
    .list-tick{				background-image:url(../images/tick_32.png);			-webkit-background-size:16px 16px; }
    .list-trash{			background-image:url(../images/trash_32.png);			-webkit-background-size:16px 16px; }
    .list-up{				background-image:url(../images/up_32.png);			-webkit-background-size:16px 16px; }
    .list-user{				background-image:url(../images/user_32.png);			-webkit-background-size:16px 16px; }
    .list-walet{			background-image:url(../images/wallet_32.png);		-webkit-background-size:16px 16px; }
    .list-warning{			background-image:url(../images/warning_32.png);		-webkit-background-size:16px 16px; }
    .show-toggle-v5{		background-image:url(../images/minus.png);			-webkit-background-size:12px 12px;		}
    .hide-toggle-v5{		background-image:url(../images/plus.png);				-webkit-background-size:12px 12px;		}

    .show-toggle-v4{		background-image:url(../images/delete_32.png);		-webkit-background-size:16px 16px;		}
    .hide-toggle-v4{		background-image:url(../images/plus_32.png);			-webkit-background-size:16px 16px;		}

    .show-toggle-v3{		background-image:url(../images/switch-on.png); 		-webkit-background-size:61px 27px;		}
    .hide-toggle-v3{		background-image:url(../images/switch-off.png);		-webkit-background-size:61px 27px;		}

    .show-toggle-v2{		background-image:url(../images/delete_32.png);		-webkit-background-size:16px 16px;		}
    .hide-toggle-v2{		background-image:url(../images/plus_32.png);			-webkit-background-size:16px 16px;		}

    .show-toggle-v1{		background-image:url(../images/minus.png);			-webkit-background-size:12px 12px;		}
    .hide-toggle-v1{		background-image:url(../images/plus.png);				-webkit-background-size:12px 12px;		}


    /*Checkboxes*/
    /*//////////*/
    .checkbox-v1{	background-image:url(../images/checkbox.png);						-webkit-background-size:16px 18px;}
    .checked-v1{	background-image:url(../images/checkbox-selected.png)!important;	-webkit-background-size:16px 18px;}
    .checkbox-v2{	background-image:url(../images/checkbox2.png);					-webkit-background-size:16px 18px;}
    .checked-v2{	background-image:url(../images/checkbox2-selected.png)!important;	-webkit-background-size:16px 18px;}
    .checkbox-v3{	background-image:url(../images/empty.png);						-webkit-background-size:16px 16px;}
    .checked-v3{	background-image:url(../images/cross.png)!important;				-webkit-background-size:16px 16px;}
    .checkbox-v4{	background-image:url(../images/empty.png);						-webkit-background-size:16px 16px;}
    .checked-v4{	background-image:url(../images/tick.png)!important;				-webkit-background-size:16px 16px;}

    .radio-v1{		background-image:url(../images/radio.png);						-webkit-background-size:16px 18px;}
    .balled-v1{		background-image:url(../images/radio-selected.png)!important;		-webkit-background-size:16px 18px;}
    .radio-v2{		background-image:url(../images/radio2.png);						-webkit-background-size:16px 18px;}
    .balled-v2{		background-image:url(../images/radio2-selected.png)!important;	-webkit-background-size:16px 18px;}
    /*//////////////////////////////////////////////////////////////*/
    /*------------------Classic NOTIFICATIONS-----------------------*/
    /*//////////////////////////////////////////////////////////////*/

    .green-notification p{		background-image:url(../images/tick_32.png);		-webkit-background-size:16px 16px;}
    .red-notification p{		background-image:url(../images/delete_32.png);	-webkit-background-size:16px 16px;}
    .blue-notification p{		background-image:url(../images/info_32.png);		-webkit-background-size:16px 16px;}
    .yellow-notification p{		background-image:url(../images/warning_32.png);	-webkit-background-size:16px 16px;}
    /*//////////////////////////////////////////////////////////////////////////////////////*/
    /*-------------------------Header Notification------------------------------------------*/
    /*//////////////////////////////////////////////////////////////////////////////////////*/

    .header-notification strong{ 	color:#666;}
    .warning-notification em{		background-image:url(../images/warning_32.png);	-webkit-background-size:16px 16px;}
    .close-notification em{			background-image:url(../images/delete_32.png);	-webkit-background-size:16px 16px;}
    .heart-notification em{			background-image:url(../images/heart_32.png);		-webkit-background-size:16px 16px;}
    .calendar-notification em{		background-image:url(../images/calendar_32.png);	-webkit-background-size:16px 16px;}
    .info-notification em{			background-image:url(../images/info_32.png);		-webkit-background-size:16px 16px;}		
    /*Blog*/

    .posted-by{		background-image:url(../images/user.png);	-webkit-background-size:12px 12px;}
    .posted-at{		background-image:url(../images/time.png);	-webkit-background-size:13px 12px;}
    .posted-cat{	background-image:url(../images/cat.png);	-webkit-background-size:16px 11px;}
    .posted-tag{	background-image:url(../images/tag.png);	-webkit-background-size:12px 12px;}
    .posted-more{	background-image:url(../images/more.png);	-webkit-background-size:17px 12px;}

};