/* 
    Created on : 2015-3-11, 16:20:41
    Author     : roy
*/
body {
    height: 100%;
    margin: 0 auto;
}
a:link,a:visited,a:hover{
    text-decoration:none;  /*超链接无下划线*/
}

#mainLeader{
    width: 100%;
}
.leader{
    width: 250px;
    height: 80px;
    background-color: #22292c;
    margin: 30px auto;
    box-shadow: 3px 3px 25px 2px;
    border-radius: 15px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    color:#ffffff;
}
